/* Write your CSS code here */
.blogitem-container {
  list-style-type: none;
  width: 100%;
  border-bottom: 1px solid #e7e5ea;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.blog-heading {
  font-family: 'roboto';
  font-size: 16px;
  font-weight: bold;
  color: #12022f;
  font-style: normal;
}

.blog-time {
  font-family: 'roboto';
  font-size: 16px;
  color: #9aa5b1;
}

.blog-description {
  font-family: 'Roboto';
  font-weight: normal;
  font-size: 16px;
  color: #9aa5b1;
  padding-left: 9.5%;
}
